[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "spm"]
	path = spm
	url = https://github.com/cran/spm
[submodule "spm2"]
	path = spm2
	url = https://github.com/cran/spm2
[submodule "stepgbm"]
	path = stepgbm
	url = https://github.com/cran/stepgbm
[submodule "steprf"]
	path = steprf
	url = https://github.com/cran/steprf
